deepeval==2.7.6
chromadb==1.0.6
pypdf==5.4.0
pandas==2.2.3
vllm==0.8.4
transformers==4.51.3
sentence-transformers==4.1.0
rouge-score==0.1.2
faiss-cpu==1.11.0
torch==2.6.0
numpy==2.2.5
langchain==0.3.24
langchain-community==0.3.24
langchain-huggingface==0.2.0
langchain-ollama==0.3.3
hf-xet==1.1.2
bitsandbytes==0.45.5
accelerate==1.7.0
ragas==0.2.15
langchain-nvidia-ai-endpoints==0.3.10
matplotlib==3.10.3
seaborn==0.13.2