huggingface_hub==0.26.1
transformers==4.46.0
sentence_transformers==3.2.1
text_generation==0.7.0
google_search_results==2.4.2
numexpr==2.10.1
langchainhub==0.1.21
sentencepiece==0.2.0
jinja2==3.1.4
bitsandbytes==0.44.1
accelerate==1.0.1
torch==2.5.0
ragas==0.2.4
langchain_huggingface==0.1.0
langchain_ollama==0.2.0
datasets==3.0.2
unstructured==0.16.1
libmagic==1.0

#pip install --prefer-binary "unstructured[pdf]"
#pip install --prefer-binary "unstructured[md]"
#pip install "accelerate>=0.26.0"
#conda install -c conda-forge libmagic -y
